* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body,
html {
  -webkit-font-smoothing: antialiased;
  background: url(./img/130.jpg) no-repeat center fixed;
  height: 100vh;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}
header {
  margin-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}
header > img {
  width: 20em;
  /*border-radius: 50%;*/
  /* border: 1px solid #000000;*/
  /* box-shadow: rgb(00 00 00/ 24%) 0px 2px 8px 0px;*/
}
header > h1 {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 1em;
  padding: 0.6em 0.8em;
  border: 1px solid black;
  backdrop-filter: blur(10px) saturate(160%) contrast(100%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(100%);
  color: black;
  margin-bottom: 1.5em;
}
ul {
  list-style: none;
  margin: 0 auto;
  width: 20em;
}
ul > li {
  background-color: rgba(228, 70, 81, 0.274);
  backdrop-filter: blur(10px) saturate(160%) contrast(100%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(100%);
  border-radius: 10em;
  padding: 0.75em;
  margin: 1.4em 0;
  max-width: 20em;
  box-shadow: rgba(22, 23, 43, 0.24) 0px 2px 8px 0px;
}
ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: black;
  text-decoration: none;
}
ul > li > a > img {
  height: 32px;
}
